@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap");
header {
  width: 100%;
}
header .navbar {
  background-color: #592A0F;
}
header .navbar .container-fluid {
  padding: 0;
  flex-wrap: wrap;
}
header .navbar .container-fluid .logonav {
  height: 16rem;
  width: 16rem;
  margin: 1rem 0 0 1rem;
  border-radius: 50%;
}
header .navbar .container-fluid .logonav img {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  border: solid;
  border-color: antiquewhite;
}
header .navbar .container-fluid .titulo {
  margin: 0 13rem;
}
header .navbar .container-fluid .titulo a {
  text-decoration: none;
  font-size: 7.7rem;
  color: antiquewhite;
  border: solid;
  border-color: antiquewhite;
  transition: font-size 0.5s;
}
header .navbar .container-fluid .titulo a:hover {
  font-size: 8rem;
}
header .navbar .container-fluid .redes-desktop {
  margin: 0 4rem 0 9rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .navbar .container-fluid .redes-desktop li {
  padding: 1rem 0;
}
header .navbar .container-fluid .redes-desktop li svg {
  color: antiquewhite;
  height: 4rem;
  width: 4rem;
}
header .navbar .container-fluid .redes-desktop li svg:hover {
  color: #D98C4A;
}
header .navbar .container-fluid .redes {
  margin: 0 4rem 0 9rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .navbar .container-fluid .redes li {
  padding: 1rem 0;
}
header .navbar .container-fluid .redes li a svg {
  color: antiquewhite;
  height: 4rem;
  width: 4rem;
}
header .navbar .container-fluid .redes li a svg:hover {
  color: #D98C4A;
}
header .navbar .container-fluid .navbar-toggler {
  background-color: antiquewhite;
}
header .navbar .container-fluid #navbarNav {
  background-color: black;
  padding: 0 10%;
  margin-bottom: -0.4rem;
  justify-content: center;
}
header .navbar .container-fluid #navbarNav .instrumentos {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header .navbar .container-fluid #navbarNav .instrumentos li {
  margin: 0;
}
header .navbar .container-fluid #navbarNav .instrumentos li a {
  text-decoration: none;
  color: antiquewhite;
}
header .navbar .container-fluid #navbarNav .instrumentos li a:hover {
  color: #D98C4A;
  transform: rotate(1deg);
}

footer {
  width: 100%;
}
footer .nav-footer {
  background-color: #592A0F;
  display: flex;
  justify-content: space-between;
}
footer .nav-footer .logonav {
  height: 16rem;
  width: 16rem;
  margin: 1rem 0 0 1rem;
  border-radius: 50%;
}
footer .nav-footer .logonav img {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  border: solid;
  border-color: antiquewhite;
}
footer .nav-footer .datos {
  margin: 0;
  height: 25rem;
  color: antiquewhite;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .nav-footer .datos a {
  text-decoration: none;
  color: antiquewhite;
}
footer .nav-footer .datos svg {
  height: 2.3rem;
  margin-right: 0.5rem;
  color: antiquewhite;
}
footer .nav-footer .datos p {
  margin: 0;
  font-size: 2.3rem;
}
footer .nav-footer ul {
  padding: 0;
  margin: 0;
  width: 22rem;
  font-size: 2.3rem;
  list-style: none;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .nav-footer ul li {
  margin: 0 auto;
}
footer .nav-footer ul li:hover {
  color: #D98C4A;
  transform: translatey(-0.1rem);
}
footer .nav-footer ul li a {
  text-decoration: none;
  color: antiquewhite;
}
footer .nav-footer ul li a:hover {
  color: #D98C4A;
}
footer .nav-footer h2 {
  margin: 0 10rem 0 0;
  text-decoration: none;
  font-size: 4rem;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .nav-footer h2 a {
  text-decoration: none;
  color: antiquewhite;
  border: solid;
  padding: 0.4rem;
  transition: font-size 0.5s;
}
footer .nav-footer h2 a:hover {
  font-size: 4.2rem;
}
footer .copyright {
  background-color: black;
  margin: 0;
  font-size: 2.5rem;
  color: antiquewhite;
  display: flex;
  justify-content: center;
}
footer .copyright svg {
  margin-right: 0.5rem;
  color: antiquewhite;
  margin-left: 0;
}

.main-index {
  background-color: #F2C791;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.main-index p {
  font-size: 5rem;
  display: flex;
  padding-bottom: 4rem;
}

.main-faq {
  background-color: #F2C791;
  margin: 0 auto;
}
.main-faq h2 {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  padding: 5rem;
}
.main-faq section {
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
.main-faq section article {
  margin: 4rem 0 4rem 0;
}
.main-faq section article h3 {
  font-weight: 700;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.main-faq section article p {
  font-size: 3rem;
}

.main-nosotros {
  background-color: rgb(242, 199, 145);
}
.main-nosotros h2 {
  font-size: 7rem;
  padding-top: 3rem;
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
}
.main-nosotros .parallax {
  background-image: url(../assets/tienda3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.main-nosotros .nosotros-cuerpo {
  padding-top: 7rem;
  display: flex;
}
.main-nosotros .nosotros-cuerpo div {
  padding: 1rem;
}
.main-nosotros .nosotros-cuerpo div .tienda1, .main-nosotros .nosotros-cuerpo div .tienda2, .main-nosotros .nosotros-cuerpo div .tienda4, .main-nosotros .nosotros-cuerpo div .tienda5 {
  margin-bottom: 3rem;
  height: 50rem;
  width: auto;
}
.main-nosotros .nosotros-cuerpo article {
  font-size: 2.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-nosotros .nosotros-cuerpo article p {
  margin: 0;
}

.contacto {
  background-color: #F2C791;
}
.contacto section {
  display: flex;
  flex-direction: column;
}
.contacto section iframe {
  width: 98%;
}
.contacto section h2 {
  font-size: 10rem;
  justify-content: center;
  display: flex;
}
.contacto section .formulario {
  display: flex;
  margin: 0;
  padding-bottom: 3rem;
  justify-content: space-evenly;
}
.contacto section .formulario form {
  width: 50rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.contacto section .formulario form label {
  font-size: 3rem;
  margin: 0;
}
.contacto section .formulario form input {
  margin: 0;
}
.contacto section .formulario form textarea {
  margin: 0;
}
.contacto section .formulario p {
  font-size: 3rem;
  margin: auto 0;
  padding: 0 2%;
  width: 100%;
}

.layout {
  background-color: #F2C791;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.3fr 1fr 0.4fr 1fr 0.4fr;
  row-gap: 10rem;
}
.layout main {
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
.layout main p {
  font-size: 2rem;
  padding: 0 15%;
}
.layout main h2 {
  padding: 5% 0;
  font-size: 4rem;
}
.layout .boxFender {
  grid-column: 1/6;
  grid-row: 2/3;
  padding: 5% 0 5% 25%;
  background-color: antiquewhite;
}
.layout .boxFender .img1 {
  height: 110rem;
  width: auto;
}
.layout .telecaster {
  grid-column: 6/13;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}
.layout .telecaster p {
  font-size: 2rem;
  padding: 0 15%;
}
.layout .telecaster h2 {
  font-size: 3rem;
  padding-bottom: 15%;
}
.layout .boxGibson {
  grid-column: 7/13;
  grid-row: 3/4;
  padding-right: 10rem;
  background-color: antiquewhite;
  display: flex;
}
.layout .boxGibson .img-gbm {
  width: 100%;
  margin: auto;
}
.layout .gibson {
  grid-column: 1/7;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}
.layout .gibson p {
  font-size: 2rem;
  padding: 0 15%;
}
.layout .gibson h2 {
  font-size: 3rem;
  padding-bottom: 15%;
}
.layout .boxSg {
  grid-column: 1/6;
  grid-row: 4/5;
  margin: auto;
  padding: 5% 0 5% 25%;
  background-color: antiquewhite;
}
.layout .boxSg .img-sgm {
  height: 110rem;
  width: auto;
  margin: auto;
}
.layout .GibsonSg {
  grid-column: 6/13;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}
.layout .GibsonSg p {
  font-size: 2rem;
  padding: 5% 15%;
}
.layout .GibsonSg h2 {
  font-size: 3rem;
  padding-bottom: 15%;
}
.layout .boxTaylor {
  grid-column: 7/13;
  grid-row: 5/6;
  padding-right: 10rem;
  background-color: antiquewhite;
  display: flex;
}
.layout .boxTaylor .img4 {
  margin: auto;
  width: 100%;
}
.layout .taylor {
  grid-column: 1/7;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}
.layout .taylor p {
  font-size: 2rem;
  padding: 5% 15%;
}
.layout .taylor h2 {
  font-size: 3rem;
  padding-bottom: 15%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .layout {
    display: flex;
    flex-direction: column;
    row-gap: unset;
  }
  .layout main {
    margin: 0 0 10rem 0;
  }
  .layout main h2 {
    margin: auto;
    font-size: 2.8rem;
    padding: 3% 0;
  }
  .layout main p {
    padding: 1% 5%;
    font-size: 1rem;
  }
  .layout .boxFender {
    padding: 0;
  }
  .layout .boxFender .img1 {
    padding: 10% 0;
    display: flex;
    width: 20rem;
    height: auto;
  }
  .layout .telecaster {
    margin: 0 0 10rem 0;
    padding: 0%;
  }
  .layout .telecaster h2 {
    margin: auto;
    font-size: 3rem;
  }
  .layout .telecaster p {
    font-size: 1rem;
    margin: 0;
    padding: 1% 5%;
  }
  .layout .boxGibson {
    padding: 0;
  }
  .layout .boxGibson .img2 {
    display: flex;
    padding: 10% 0;
    width: 20rem;
    height: auto;
    margin: auto;
  }
  .layout .boxGibson .img-gbm {
    display: none;
  }
  .layout .gibson {
    margin: 0 0 10rem 0;
    padding: 0%;
  }
  .layout .gibson h2 {
    margin: auto;
    font-size: 3rem;
  }
  .layout .gibson p {
    font-size: 1rem;
    margin: 0;
    padding: 1% 5%;
  }
  .layout .boxSg {
    padding: 0;
  }
  .layout .boxSg .img3 {
    display: none;
  }
  .layout .boxSg .img-sgm {
    display: flex;
    padding: 10% 0;
    width: 20rem;
    height: auto;
    margin: auto;
  }
  .layout .GibsonSg {
    margin: 0 0 10rem 0;
    padding: 0%;
  }
  .layout .GibsonSg h2 {
    margin: auto;
    font-size: 3rem;
  }
  .layout .GibsonSg p {
    font-size: 1rem;
    margin: 0;
    padding: 1% 5%;
  }
  .layout .boxTaylor {
    padding: 0;
  }
  .layout .boxTaylor .img4 {
    display: none;
  }
  .layout .boxTaylor .img-tlm {
    display: flex;
    padding: 10% 0;
    width: 20rem;
    height: auto;
    margin: auto;
  }
  .layout .taylor {
    margin: 0;
    padding: 0%;
  }
  .layout .taylor h2 {
    margin: auto;
    font-size: 3rem;
  }
  .layout .taylor p {
    font-size: 1rem;
    margin: 0;
    padding: 1% 5%;
  }
}
.main-teclado {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 0.5fr);
  background-color: #F2C791;
  row-gap: 10rem;
}
.main-teclado p {
  font-size: 2rem;
}
.main-teclado h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.main-teclado .teclado-txt {
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 5% 15%;
}
.main-teclado .teclado-txt h2 {
  padding-bottom: 2rem;
  font-size: 4rem;
}
.main-teclado .cola-img {
  grid-column: 1/6;
  grid-row: 2/3;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}
.main-teclado .cola-img img {
  padding: 1rem;
  max-width: 100%;
}
.main-teclado .cola-txt, .main-teclado .korg-txt, .main-teclado .casio-txt {
  padding: 0 1rem;
  grid-column: 6/13;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}
.main-teclado .casio-img {
  grid-column: 9/13;
  grid-row: 3/4;
  background-color: antiquewhite;
  padding: 1rem;
}
.main-teclado .casio-img img {
  max-width: 100%;
}
.main-teclado .casio-txt {
  grid-column: 1/9;
  grid-row: 3/4;
}
.main-teclado .korg-img {
  grid-column: 1/6;
  grid-row: 4/5;
  background-color: antiquewhite;
  padding: 1rem;
  display: flex;
}
.main-teclado .korg-img img {
  max-width: 100%;
}
.main-teclado .korg-txt {
  grid-column: 6/13;
  grid-row: 4/5;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-teclado {
    display: flex;
    flex-direction: column;
    row-gap: unset;
  }
  .main-teclado p {
    font-size: 1rem;
  }
  .main-teclado h3 {
    font-size: 2.5rem;
  }
  .main-teclado .teclado-txt {
    font-size: 2rem;
    margin: 0 0 5rem 0;
    padding: 0;
  }
  .main-teclado .teclado-txt h2 {
    font-size: 2.5rem;
    padding: 3% 0;
  }
  .main-teclado .teclado-txt p {
    padding: 1% 5%;
    font-size: 1rem;
  }
  .main-teclado .cola-txt, .main-teclado .casio-txt, .main-teclado .korg-txt {
    margin: 0 0 5rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-teclado {
    display: flex;
    flex-direction: column;
    row-gap: unset;
  }
  .main-teclado p {
    font-size: 2rem;
  }
  .main-teclado h3 {
    font-size: 2.5rem;
  }
  .main-teclado .teclado-txt {
    margin: 0 0 5rem 0;
    padding: 0;
  }
  .main-teclado .teclado-txt h2 {
    font-size: 2.5rem;
    padding: 3% 0;
  }
  .main-teclado .teclado-txt p {
    padding: 1% 5%;
  }
  .main-teclado .cola-txt, .main-teclado .casio-txt, .main-teclado .korg-txt {
    margin: 0 0 5rem 0;
  }
  .main-teclado .casio-img {
    margin: 0;
    display: flex;
  }
}
.main-bajo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 0.5fr);
  background-color: #F2C791;
  row-gap: 10rem;
}
.main-bajo p {
  font-size: 2rem;
}
.main-bajo h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.main-bajo .bajo-txt {
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 5% 15%;
}
.main-bajo .bajo-txt h2 {
  padding-bottom: 2rem;
  font-size: 4rem;
}
.main-bajo .bajo1-img {
  grid-column: 1/6;
  grid-row: 2/3;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}
.main-bajo .bajo1-img img {
  padding: 1rem;
  max-width: 100%;
}
.main-bajo .bajo1-txt, .main-bajo .bajo3-txt, .main-bajo .bajo2-txt {
  padding: 0 1rem;
  grid-column: 6/13;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}
.main-bajo .bajo2-img {
  grid-column: 9/13;
  grid-row: 3/4;
  background-color: antiquewhite;
  padding: 1rem;
}
.main-bajo .bajo2-img img {
  max-width: 100%;
}
.main-bajo .bajo2-txt {
  grid-column: 1/9;
  grid-row: 3/4;
}
.main-bajo .bajo3-img {
  grid-column: 1/6;
  grid-row: 4/5;
  background-color: antiquewhite;
  padding: 1rem;
  display: flex;
}
.main-bajo .bajo3-img img {
  max-width: 100%;
}
.main-bajo .bajo3-txt {
  grid-column: 6/13;
  grid-row: 4/5;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-bajo {
    display: flex;
    flex-direction: column;
    row-gap: unset;
  }
  .main-bajo p {
    font-size: 1rem;
  }
  .main-bajo h3 {
    font-size: 2.5rem;
  }
  .main-bajo .bajo-txt {
    font-size: 2rem;
    margin: 0 0 5rem 0;
    padding: 0;
  }
  .main-bajo .bajo-txt h2 {
    font-size: 2.5rem;
    padding: 3% 0;
  }
  .main-bajo .bajo-txt p {
    padding: 1% 5%;
    font-size: 1rem;
  }
  .main-bajo .bajo1-txt, .main-bajo .bajo2-txt, .main-bajo .bajo3-txt {
    margin: 0 0 5rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-bajo {
    display: flex;
    flex-direction: column;
    row-gap: unset;
  }
  .main-bajo p {
    font-size: 2rem;
  }
  .main-bajo h3 {
    font-size: 2.5rem;
  }
  .main-bajo .bajo-txt {
    margin: 0 0 5rem 0;
    padding: 0;
  }
  .main-bajo .bajo-txt h2 {
    font-size: 2.5rem;
    padding: 3% 0;
  }
  .main-bajo .bajo-txt p {
    padding: 1% 5%;
  }
  .main-bajo .bajo1-txt, .main-bajo .bajo2-txt, .main-bajo .bajo3-txt {
    margin: 0 0 5rem 0;
  }
}
* {
  padding: 0;
  margin: 0 auto;
  width: auto;
  max-width: 198rem;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}
html body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2C791;
}
html body p {
  text-align: justify;
}
@media (min-width: 1200px) {
  html .img2 {
    display: none;
  }
  html .img-tlm {
    display: none;
  }
  html header .navbar .container-fluid .redes {
    display: none;
  }
  html .carrusel-nosotros {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  html body {
    width: 100%;
    max-width: 767px;
  }
  html body header {
    width: 100%;
  }
  html body header .navbar .container-fluid {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  html body header .navbar .container-fluid .logonav {
    display: none;
  }
  html body header .navbar .container-fluid .titulo {
    margin: 3% 0;
  }
  html body header .navbar .container-fluid .titulo .navbar-brand {
    font-size: 3rem;
  }
  html body header .navbar .container-fluid .redes-desktop {
    display: none;
  }
  html body header .navbar .container-fluid #navbarNav {
    margin: 1% 0 0 0;
    padding: 1% 10% 0;
    background-color: black;
  }
  html body header .navbar .container-fluid #navbarNav .redes {
    margin: 0rem 1rem 0 0rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  html body header .navbar .container-fluid #navbarNav .redes li {
    margin: 0;
    padding: 1rem 0.5rem;
  }
  html body header .navbar .container-fluid #navbarNav .redes li a svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  html body header .navbar .instrumentos li {
    font-size: 1.2rem;
  }
  html body footer {
    margin: 0;
    margin-top: auto;
  }
  html body footer .nav-footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  html body footer .nav-footer .logonav {
    display: none;
  }
  html body footer .nav-footer .datos {
    justify-content: space-around;
    height: 12rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
  }
  html body footer .nav-footer .datos p {
    font-size: 1.3rem;
  }
  html body footer .nav-footer .datos svg {
    height: 2rem;
    width: auto;
  }
  html body footer .nav-footer ul {
    font-size: 1.3rem;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  html body footer .nav-footer ul li {
    margin: 0;
  }
  html body footer .nav-footer h2 {
    font-size: 3rem;
    margin: 0.5rem auto;
  }
  html body footer .copyright {
    font-size: 1.5rem;
  }
  html body footer .copyright svg {
    height: 1.5rem;
    margin: 0.3rem 0.3rem 0 0.3rem;
  }
  html body .main-index p {
    font-size: 2rem;
  }
  html body .main-faq h2 {
    font-size: 2.7rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  html body .main-faq section {
    padding-left: 1rem;
  }
  html body .main-faq section article h3 {
    font-size: 2.4rem;
    padding-right: 2rem;
  }
  html body .main-faq section article p {
    padding-right: 2rem;
    font-size: 2rem;
  }
  html body .contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  html body .contacto section {
    width: 100%;
  }
  html body .contacto section h2 {
    font-size: 4rem;
  }
  html body .contacto section p {
    font-size: 2rem;
    padding: 1rem 1rem 0 1rem;
  }
  html body .contacto section .formulario {
    width: 100%;
    flex-direction: column;
  }
  html body .contacto section .formulario form {
    width: 100%;
  }
  html body .contacto section .formulario form label {
    font-size: 2rem;
  }
  html body .contacto section .formulario p {
    width: 100%;
    font-size: 2rem;
  }
  html body .main-nosotros {
    width: 100%;
  }
  html body .main-nosotros .parallax {
    width: 100%;
  }
  html body .main-nosotros h2 {
    font-size: 5rem;
  }
  html body .main-nosotros .nosotros-cuerpo {
    width: 100%;
  }
  html body .main-nosotros .nosotros-cuerpo .tienda1,
  html body .main-nosotros .nosotros-cuerpo .tienda2,
  html body .main-nosotros .nosotros-cuerpo .tienda4,
  html body .main-nosotros .nosotros-cuerpo .tienda5 {
    display: none;
  }
  html body .main-nosotros .nosotros-cuerpo article p {
    font-size: 2rem;
    width: 100%;
  }
  html body .main-nosotros #carouselExample {
    width: 60%;
    padding: 1%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    width: 100%;
    max-width: 1200px;
  }
  body header {
    margin: 0;
    width: 100%;
  }
  body header .navbar .container-fluid {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  body header .navbar .container-fluid .logonav {
    height: 9rem;
    width: 9rem;
    margin: 1rem 0 0 1rem;
    border-radius: 50%;
  }
  body header .navbar .container-fluid .logonav img {
    height: 9rem;
    width: 9rem;
  }
  body header .navbar .container-fluid .titulo {
    margin: 3rem auto;
    height: 5rem;
  }
  body header .navbar .container-fluid .titulo a {
    font-size: 4.2rem;
    margin: 0;
  }
  body header .navbar .container-fluid .navbar-toggler {
    margin: 0 2.4rem;
  }
  body header .navbar .container-fluid .redes-desktop {
    display: none;
  }
  body header .navbar .container-fluid #navbarNav {
    margin: 1% 0 0 0;
    padding: 1% 10% 0;
    background-color: black;
  }
  body header .navbar .container-fluid #navbarNav .redes {
    margin: 0rem 1rem 0 0rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  body header .navbar .container-fluid #navbarNav .redes li {
    margin: 0;
    padding: 1rem 0.5rem;
  }
  body header .navbar .container-fluid #navbarNav .redes li a svg {
    height: 2rem;
    width: 2rem;
  }
  body header .navbar .container-fluid #navbarNav .instrumentos {
    font-size: 1.5rem;
  }
  body footer {
    margin: 0;
    margin-top: auto;
    width: 100%;
  }
  body footer .nav-footer .logonav {
    height: 7rem;
    width: 7rem;
    margin: 1rem 0 0 1rem;
    border-radius: 50%;
  }
  body footer .nav-footer .logonav img {
    height: 7rem;
    width: 7rem;
  }
  body footer .nav-footer .datos {
    justify-content: space-around;
  }
  body footer .nav-footer .datos p {
    font-size: 1.5rem;
  }
  body footer .nav-footer .datos p svg {
    height: 1.7rem;
  }
  body footer .nav-footer ul li {
    font-size: 1.7rem;
  }
  body footer .nav-footer h2 {
    margin: 0;
    font-size: 2.5rem;
    padding-right: 0.5rem;
  }
  body .main-index p {
    font-size: 3rem;
  }
  body .contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .contacto section {
    width: 100%;
  }
  body .contacto section h2 {
    font-size: 3.8rem;
  }
  body .contacto section .formulario {
    width: 100%;
    flex-direction: column;
  }
  body .contacto section .formulario form {
    width: 100%;
  }
  body .contacto section .formulario p {
    width: 100%;
  }
  body .main-nosotros {
    width: 100%;
  }
  body .main-nosotros .parallax {
    width: 100%;
  }
  body .main-nosotros h2 {
    font-size: 3.8rem;
  }
  body .main-nosotros .nosotros-cuerpo {
    width: 100%;
  }
  body .main-nosotros .nosotros-cuerpo .tienda1, body .main-nosotros .nosotros-cuerpo .tienda2, body .main-nosotros .nosotros-cuerpo .tienda4, body .main-nosotros .nosotros-cuerpo .tienda5 {
    display: none;
  }
  body .main-nosotros .nosotros-cuerpo article p {
    font-size: 2rem;
    width: 100%;
  }
  body .main-nosotros #carouselExample {
    width: 60%;
    padding: 1%;
  }
  body .tienda1, body .tienda2, body .tienda4, body .tienda5 {
    display: none;
  }
  body .main-faq h2 {
    font-size: 3.8rem;
  }
  body .main-faq section {
    padding: 0 2%;
  }
  body .main-faq section article h3 {
    font-size: 3.2rem;
  }
  body .main-faq section article p {
    font-size: 2.8rem;
  }
  body .layout {
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
  }
  body .layout .boxFender {
    grid-column: 1/7;
  }
  body .layout .boxFender .img1 {
    width: 100%;
    height: auto;
  }
  body .layout .telecaster {
    grid-column: 7/13;
    justify-content: flex-start;
  }
  body .layout .boxGibson .img2 {
    width: 100%;
  }
  body .layout .boxGibson .img-gbm {
    display: none;
  }
  body .layout .gibson {
    justify-content: flex-start;
  }
  body .layout .gibson h2 {
    padding-bottom: 15%;
  }
  body .layout .boxSg {
    grid-column: 1/7;
    margin: 0;
  }
  body .layout .boxSg .img-sgm {
    margin: auto;
    width: 100%;
    height: auto;
  }
  body .layout .GibsonSg {
    grid-column: 7/13;
    justify-content: flex-start;
  }
  body .layout .GibsonSg p {
    padding-top: 5%;
  }
  body .layout .boxTaylor .img4 {
    display: none;
  }
  body .layout .boxTaylor .img-tlm {
    margin: auto;
    width: 100%;
  }
  body .layout .taylor {
    justify-content: flex-start;
  }
  body .layout .taylor p {
    padding-top: 5%;
  }
}/*# sourceMappingURL=styles.css.map */