@media (min-width: 768px) and (max-width: 1199px) {

    .main-bajo {
        display: flex;
        flex-direction: column;
        row-gap: unset;

        p {
            font-size: 2rem;
        }

        h3 {
            font-size: 2.5rem;
        }

        .bajo-txt {
            margin: 0 0 5rem 0;
            padding: 0;

            h2 {
                font-size: 2.5rem;
                padding: 3% 0;
            }

            p {
                padding: 1% 5%;
            }
        }

        .bajo1-txt {
            margin: 0 0 5rem 0;

        }

    }

}