.layout{
    background-color: #F2C791;
    p{
        font-size: 2rem;
    }
    h2{
        font-size: 3rem;
    }
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr 0.3fr;
    row-gap: 10rem;
    
    main{
        
        grid-column: 2/12;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        h2{
            padding: 5% 0;
            font-size: 4rem;
        }
    }
    
    .img1{
        
        width: 100%;
        grid-column: 2/5;
        grid-row: 2/3;
    }
    
    .telecaster{
        
        grid-column: 6/12;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            padding-bottom: 15%;
        }
    }
    .img2{
        
        grid-column: 9/12;
        grid-row: 3/4;
        width: 100%;
    }
    .gibson{
        
        grid-column: 2/8;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            padding-bottom: 15%;
        }
    }
    
    
    .img3{
        
        grid-column: 2/6;
        grid-row: 4/5;
        margin: auto;
        width: 100%;
    }
    .GibsonSg{
        
        grid-column: 7/12;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            padding-top: 5%;
        }
    }
    
    
    
    .img4{
        
        grid-column: 8/12;
        grid-row: 5/6;
        margin: auto;
        width: 100%;
    }
    
    .taylor{
        
        grid-column: 2/7;
        grid-row: 5/6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            padding-top: 5%;
        }
    }
}
