@media (min-width: 320px) and (max-width: 767px) {


    .layout {
        display: flex;
        flex-direction: column;
        row-gap: unset;

        main {
            margin: 0 0 10rem 0;

            h2 {
                margin: auto;
                font-size: 2.8rem;
                padding: 3% 0;
            }

            p {
                padding: 1% 5%;
                font-size: 1rem;
            }
        }

        .boxFender {
            padding: 0;

            .img1 {
                padding: 10% 0;
                display: flex;
                width: 20rem;
                height: auto;
            }
        }


        .telecaster {

            margin: 0 0 10rem 0;
            padding: 0%;

            h2 {
                margin: auto;
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
                margin: 0;
                padding: 1% 5%;
            }
        }

        .boxGibson {
            padding: 0;

            .img2 {
                display: flex;
                padding: 10% 0;
                width: 20rem;
                height: auto;
                margin: auto;
            }

            .img-gbm {
                display: none;
            }
        }

        .gibson {
            margin: 0 0 10rem 0;
            padding: 0%;

            h2 {
                margin: auto;
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
                margin: 0;
                padding: 1% 5%;
            }
        }

        .boxSg {
            padding: 0;

            .img3 {
                display: none;
            }

            .img-sgm {
                display: flex;
                padding: 10% 0;
                width: 20rem;
                height: auto;
                margin: auto;
            }
        }

        .GibsonSg {
            margin: 0 0 10rem 0;
            padding: 0%;

            h2 {
                margin: auto;
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
                margin: 0;
                padding: 1% 5%;
            }
        }

        .boxTaylor {
            padding: 0;

            .img4 {
                display: none;
            }

            .img-tlm {
                display: flex;
                padding: 10% 0;
                width: 20rem;
                height: auto;
                margin: auto;
            }
        }

        .taylor {
            margin: 0;
            padding: 0%;

            h2 {
                margin: auto;
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
                margin: 0;
                padding: 1% 5%;

            }
        }
    }
}