@mixin layout{
    background-color: #F2C791;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.3fr 1fr 0.4fr 1fr 0.4fr;
    row-gap: 10rem;
}
@mixin main-guitarras {
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}