@media (min-width: 320px) and (max-width: 767px) {
    html {

        body {
            width: 100%;
            max-width: 767px;

            header {
                width: 100%;

                .navbar {
                    .container-fluid {
                        flex-wrap: wrap;
                        width: 100%;
                        padding: 0;
                        justify-content: space-around;

                        .logonav {
                            display: none;
                        }

                        .titulo {
                            margin: 3% 0;

                            .navbar-brand {
                                font-size: 3rem;
                            }
                        }

                        .redes-desktop {
                            display: none;
                        }

                        #navbarNav {
                            margin: 1% 0 0 0;
                            padding: 1% 10% 0;
                            background-color: black;

                            .redes {
                                margin: 0rem 1rem 0 0rem;
                                padding: 0;
                                list-style: none;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                width: 100%;

                                li {
                                    margin: 0;
                                    padding: 1rem 0.5rem;

                                    a {
                                        svg {
                                            height: 1.5rem;
                                            width: 1.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .instrumentos {
                        li {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            footer {
                margin: 0;
                margin-top: auto;

                .nav-footer {
                    flex-direction: row;
                    flex-wrap: wrap;

                    .logonav {
                        display: none;
                    }

                    .datos {
                        justify-content: space-around;
                        height: 12rem;
                        padding-left: 1rem;
                        padding-top: 0.3rem;

                        p {
                            font-size: 1.3rem;
                        }

                        svg {
                            height: 2rem;
                            width: auto;
                        }

                    }

                    ul {
                        font-size: 1.3rem;
                        width: fit-content;
                        justify-content: flex-start;
                        padding-right: 1rem;
                        padding-top: 1rem;
                        padding-left: 1rem;

                        li {
                            margin: 0;
                        }
                    }

                    h2 {
                        font-size: 3rem;
                        margin: 0.5rem auto;
                    }

                }

                .copyright {
                    font-size: 1.5rem;

                    svg {
                        height: 1.5rem;
                        margin: 0.3rem 0.3rem 0 0.3rem;
                    }
                }
            }

            .main-index p {
                font-size: 2rem;
            }

            .main-faq {
                h2 {
                    font-size: 2.7rem;
                    display: flex;
                    justify-content: center;
                    padding: 1rem 0;
                }

                section {
                    padding-left: 1rem;

                    article {
                        h3 {
                            font-size: 2.4rem;
                            padding-right: 2rem;
                        }

                        p {
                            padding-right: 2rem;
                            font-size: 2rem;
                        }
                    }
                }
            }

            .contacto {
                width: 100%;
                display: flex;
                flex-direction: column;

                section {
                    width: 100%;

                    h2 {
                        font-size: 4rem;
                    }

                    p {
                        font-size: 2rem;
                        padding: 1rem 1rem 0 1rem;
                    }

                    .formulario {
                        width: 100%;
                        flex-direction: column;

                        form {
                            width: 100%;

                            label {
                                font-size: 2rem;
                            }
                        }

                        p {
                            width: 100%;
                            font-size: 2rem;
                        }
                    }
                }
            }

            .main-nosotros {
                width: 100%;

                .parallax {
                    width: 100%;
                }

                h2 {
                    font-size: 5rem;
                }

                .nosotros-cuerpo {
                    width: 100%;

                    .tienda1,
                    .tienda2,
                    .tienda4,
                    .tienda5 {
                        display: none;
                    }

                    article {
                        p {
                            font-size: 5rem;
                            width: 100%;
                            margin: 1rem 0;


                        }
                    }
                }

                #carouselExample {
                    width: 60%;
                    padding: 1%;
                }
            }
        }
    }

    
    
}