@media (min-width: 320px) and (max-width: 767px) {
    
    html {
        @import "/scss/mobile-responsive/header-mobile";
        @import "/scss/mobile-responsive/footer_mobile";
        @import "/scss/mobile-responsive/faq_mobile";
        @import "/scss/mobile-responsive/nosotros_mobile";
        @import "/scss/mobile-responsive/contacto_mobile";

        body {
            width: 100%;
            max-width: 767px;

            .main-index p {
                font-size: 2rem;
            }
        }
    }

    
    
}